@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(120deg, #f0f9ff 40%, #f0fdf4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
}

